body, ul, li {
  margin: 0px;
  font-family: "Oxygen Mono", sans-serif;
  font-size: 20px;
  margin: 5% 15% 5%;
}

.nav {
  height: 10%;
  padding: .5% 1% .5%;
}

.nav a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}
.text-right {
  float: right;
}

.text-right a {
  text-decoration: none;
}


#brand {
  font-size: 24px;
  color: black;
  cursor: pointer;
}

.movies {
  width: 90%;
  margin: 3% 5% 0%;

  border-bottom-width: 5px;
  border-bottom-color: black;
}

.img {
  float: left;
  width: 25%;
}

.attr {
  float: right;
  width: 75%;
}

h4 {
  font-size: 25px;
  margin-bottom: 4px;
}

strong {
  text-decoration: bold;
  text-decoration: underline;
}

p {
  margin: 5px 0px;
}

.hero-unit {
  font-size: 38px;
  text-align: center;

  margin: 2% 5% 5%;
}

.col {
  width: 33%;
  float: left;
  text-align: center;
}

table {
  width: 100%;
}

.movie-img {
  width: 50px;
}

tr {
  height: 100px;
}

#nig {
  margin-bottom: 20px;
}

#bg-turquoise {
  background-color: #e67e22;
  padding: 5px;
  font-size: 22px;
  margin: 0% 1% 0%;
  color: white;

  width: 200px;
  text-align: center;
  font-weight: 1.5em;

  position: absolute;
}

#div-thing {
  width: 190px;
}